<div class="comments">
	<label class="well">
		<%= record.name %>:&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="text-info"><%= record.content %>
		</span>
		<span class="muted">&nbsp;&nbsp;&nbsp;&nbsp; Posted :<%= time_ago_in_words(record.created_at) %> ago. 
		</span>
	</label><br/>
</div>